<div ng-controller="formNepiController as $ctrl">
    <h4><span class="fas fa-file-excel"></span>&nbsp;Nutrition and EPI Program</h4>
    <div class="btn-group">
        <button ng-click="$ctrl.back()" class="btn btn-outline-secondary">
            <span class="fas fa-backward"></span>&nbsp;Back
        </button>
        <button ng-click="$ctrl.download()" class="btn btn-outline-danger">
            <span class="fas fa-download"></span>&nbsp;Download
        </button>
        <button ng-click="$ctrl.add()" class="btn btn-outline-danger">
            <span class="fas fa-plus"></span>&nbsp;Add New Form
        </button>
    </div>
    <hr />
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Barangay</th>
                    <th>Municipality</th>
                    <th>Province</th>
                    <th>Region</th>
                    <th>User</th>
                    <th># of Entry</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="frm in $ctrl.items">
                    <td>{{frm.barangay}}</td>
                    <td>{{frm.municipality}}</td>
                    <td>{{frm.province}}</td>
                    <td>{{frm.region}}</td>
                    <td>{{frm.user.firstName}} - {{frm.user.lastName}}</td>
                    <td>{{frm.entries.length}}</td>
                    <td>
                        <span class="btn-group btn-group-sm">
                            <button ng-click="$ctrl.edit(frm)" class="btn btn-outline-info">
                                <span class="fas fa-edit"></span>&nbsp;Edit
                            </button>
                            <button ng-click="$ctrl.view(frm)" class="btn btn-outline-info">
                                <span class="fas fa-search"></span>&nbsp;View
                            </button>
                            <button ng-click="$ctrl.removeItem(frm)" class="btn btn-outline-info">
                                <span class="fas fa-trash"></span>&nbsp;Delete
                            </button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>