<div>
    <h4>
        <span class="fas fa-fw fa-file"></span>&nbsp;Nutrition and EPI&nbsp;<a ng-if="$ctrl.canCreate()" ui-sref="formNepiAdd" class="btn btn-outline-primary"><span class="fas fa-fw fa-plus"></span>&nbsp;Add</a>
    </h4>

    <hr />
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Barangay</th>
                    <th>Municipality</th>
                    <th>Province</th>
                    <th>Region</th>
                    <th>User</th>
                    <th># of Entry</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="frm in $ctrl.items">
                    <td>{{frm.barangay}}</td>
                    <td>{{frm.municipality}}</td>
                    <td>{{frm.province}}</td>
                    <td>{{frm.region}}</td>
                    <td>{{frm.user.firstName}} - {{frm.user.lastName}}</td>
                    <td>{{frm.entries.length}}</td>
                    <td >
                        <span class="btn-group btn-group-sm">
                            <a ng-if="$ctrl.hasPermission(frm)" ui-sref="formNepiEdit({formId: frm.tcL_NEPIId})" class="btn btn-outline-info">
                                <span class="fas fa-edit"></span>&nbsp;Edit
                            </a>
                            <a ui-sref="formNepiView({formId: frm.tcL_NEPIId})" class="btn btn-outline-info">
                                <span class="fas fa-search"></span>&nbsp;View
                            </a>
                            
                            <button ng-if="$ctrl.hasPermission(frm)" ng-click="$ctrl.remove(frm.tcL_NEPIId)" class="btn btn-outline-danger">
                                <span class="fas fa-trash"></span>&nbsp;Delete
                            </button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>