@page
@model hsforms.web.Pages.Administrator.IndexModel
@{
    Layout = "_LayoutAdministrator";
}

<div>
    <ui-view>
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading, please wait.</span>
        </div>
    </ui-view>
</div>