<div ng-controller="formNepiAddEntryComponent as $ctrl">
    <h4>Add Entry</h4>
    <button ng-click="$ctrl.back();" class="btn btn-outline-secondary">
        <span class="fas fa-backward"></span>&nbsp;Back
    </button>
    <button ng-click="$ctrl.save()" class="btn btn-warning">
        <span class="fas fa-save"></span>&nbsp;Save
    </button>
    <hr />
    <div class="form-row">
        <div class="form-group col-md-6">
            <b>Date Of Registration</b>
            <input ng-model="$ctrl.entry.dateOfRegistration" type="date" class="form-control" />
        </div>
        <div class="form-group col-md-6">
            <b>Date Of Birth</b>
            <input ng-model="$ctrl.entry.dateOfBirth" type="date" class="form-control" />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <b>Family Serial Number</b>
            <input ng-model="$ctrl.entry.familySerialNumber" type="text" class="form-control" />
        </div>
        <div class="form-group col-md-6">
            <b>NHTS</b>
            <input ng-model="$ctrl.entry.nhts" type="text" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <b>Name Of Child</b>
        <input ng-model="$ctrl.entry.nameOfChild" type="text" class="form-control" />
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <b>Weight</b>
            <input ng-model="$ctrl.entry.weight" type="text" class="form-control" />
        </div>
        <div class="form-group col-md-4">
            <b>Height</b>
            <input ng-model="$ctrl.entry.height" type="text" class="form-control" />
        </div>
        <div class="form-group col-md-4">
            <b>Gender</b>
            <input ng-model="$ctrl.entry.gender" type="text" class="form-control" />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <b>Name Of Mother</b>
            <input ng-model="$ctrl.entry.nameOfMother" type="text" class="form-control" />
        </div>
        <div class="form-group col-md-6">
            <b>Address</b>
            <input ng-model="$ctrl.entry.address" type="text" class="form-control" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <b>Date Newborn Screening Referral</b>
            <input ng-model="$ctrl.entry.dateNewbornScreeningReferral" type="date" class="form-control" />
        </div>
        <div class="form-group col-md-6">
            <b>Date Newborn Screening Done</b>
            <input ng-model="$ctrl.entry.dateNewbornScreeningDone" type="date" class="form-control" />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <b>CPAB TT Status</b>
            <input ng-model="$ctrl.entry.cpabttStatus" type="text" class="form-control" />
        </div>
        <div class="form-group col-md-6">
            <b>CPAB TT Assessed</b>
            <input ng-model="$ctrl.entry.cpabttAssessed" type="date" class="form-control" />
        </div>
    </div>

    <div class="card">
        <div class="card-body p-2">
            <h5 class="card-text">CHILD WAS EXCLUSIVELY BREASTFED</h5>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <div class="form-check">
                        <input ng-model="$ctrl.entry.childExclusiveBreastFeed1" class="form-check-input" type="checkbox" value="" id="childExclusiveBreastFeed1">
                        <label class="form-check-label" for="childExclusiveBreastFeed1">1st MO</label>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <div class="form-check">
                        <input ng-model="$ctrl.entry.childExclusiveBreastFeed2" class="form-check-input" type="checkbox" value="" id="childExclusiveBreastFeed2">
                        <label class="form-check-label" for="childExclusiveBreastFeed2">2nd MO</label>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <div class="form-check">
                        <input ng-model="$ctrl.entry.childExclusiveBreastFeed3" class="form-check-input" type="checkbox" value="" id="childExclusiveBreastFeed3">
                        <label class="form-check-label" for="childExclusiveBreastFeed3">3rd MO</label>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <div class="form-check">
                        <input ng-model="$ctrl.entry.childExclusiveBreastFeed4" class="form-check-input" type="checkbox" value="" id="childExclusiveBreastFeed4">
                        <label class="form-check-label" for="childExclusiveBreastFeed4">4th MO</label>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <div class="form-check">
                        <input ng-model="$ctrl.entry.childExclusiveBreastFeed5" class="form-check-input" type="checkbox" value="" id="childExclusiveBreastFeed5">
                        <label class="form-check-label" for="childExclusiveBreastFeed5">5th MO</label>
                    </div>
                </div>
            </div>


            <div class="form-group row col-md-8">
                <label class="col-sm-4 text-right" for="childExclusiveBreastFeed6">6th MO</label>
                <div class="col-sm-8">
                    <input ng-model="$ctrl.entry.childExclusiveBreastFeed6" class="form-control" type="date" value="" id="childExclusiveBreastFeed6">
                </div>
            </div>

        </div>
    </div>

    <div class="card mt-2">
        <div class="card-body p-2">
            <h5 class="card-text">COMPLEMENTARY FEEDING</h5>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <div class="form-check">
                        <input ng-model="$ctrl.entry.complimentaryFeeding6" class="form-check-input" type="checkbox" value="" id="complimentaryFeeding6">
                        <label class="form-check-label" for="complimentaryFeeding6">6th MO</label>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <div class="form-check">
                        <input ng-model="$ctrl.entry.complimentaryFeeding7" class="form-check-input" type="checkbox" value="" id="complimentaryFeeding7">
                        <label class="form-check-label" for="complimentaryFeeding7">7th MO</label>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <div class="form-check">
                        <input ng-model="$ctrl.entry.complimentaryFeeding8" class="form-check-input" type="checkbox" value="" id="complimentaryFeeding8">
                        <label class="form-check-label" for="complimentaryFeeding8">8th MO</label>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="form-row">
        <div class="form-group col-md-4">
            <b>BCG</b>
            <input ng-model="$ctrl.entry.bcg" type="date" class="form-control" />
        </div>
        <div class="col-md-8">
            <div class="card mt-2">
                <div class="card-body p-2">
                    <h5 class="card-text">PENTAVALENT Hepa B1</h5>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Within 24hrs</label>
                            <input ng-model="$ctrl.entry.hepaB1Within24hrs" type="date" class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            <label>More Than 24hrs</label>
                            <input ng-model="$ctrl.entry.hepaB1MoreThan24hrs" type="date" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-2">
        <div class="card-body p-2">
            <h5 class="card-text">OPV</h5>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>1</label>
                    <input ng-model="$ctrl.entry.opV1" type="date" class="form-control" />
                </div>
                <div class="form-group col-md-4">
                    <label>2</label>
                    <input ng-model="$ctrl.entry.opV2" type="date" class="form-control" />
                </div>
                <div class="form-group col-md-4">
                    <label>3</label>
                    <input ng-model="$ctrl.entry.opV3" type="date" class="form-control" />
                </div>
            </div>
        </div>
    </div>






    <div class="form-row">
        <div class="form-group col-md-4">
            <b>IPV</b>
            <input ng-model="$ctrl.entry.ipv" type="date" class="form-control" />
        </div>
        <div class="form-group col-md-4">
            <b>MCV1</b>
            <input ng-model="$ctrl.entry.mcV1" type="date" class="form-control" />
        </div>
        <div class="form-group col-md-4">
            <b>MCV2</b>
            <input ng-model="$ctrl.entry.mcV2" type="date" class="form-control" />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <b>Date Fully Immunized Child</b>
            <input ng-model="$ctrl.entry.dateFullyImmunizedChild" type="date" class="form-control" />
        </div>
        <div class="form-group col-md-4">
            <b>Rota Virus Vaccine 1</b>
            <input ng-model="$ctrl.entry.rotaVirusVaccine1" type="date" class="form-control" />
        </div>
        <div class="form-group col-md-4">
            <b>Rota Virus Vaccine 2</b>
            <input ng-model="$ctrl.entry.rotaVirusVaccine2" type="date" class="form-control" />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <b>PCV1</b>
            <input ng-model="$ctrl.entry.pcV1" type="date" class="form-control" />
        </div>
        <div class="form-group col-md-4">
            <b>PCV2</b>
            <input ng-model="$ctrl.entry.pcV2" type="date" class="form-control" />
        </div>
        <div class="form-group col-md-4">
            <b>PCV3</b>
            <input ng-model="$ctrl.entry.pcV3" type="date" class="form-control" />
        </div>
    </div>


    <div class="card mt-2">
        <div class="card-body p-2">
            <h5 class="card-text">VITAMIN A</h5>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <div class="form-check">
                        <input ng-model="$ctrl.entry.vitaminA1" class="form-check-input" type="checkbox" value="" id="vitaminA1">
                        <label class="form-check-label" for="vitaminA1">6-11 mos</label>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <div class="form-check">
                        <input ng-model="$ctrl.entry.vitaminA2" class="form-check-input" type="checkbox" value="" id="vitaminA2">
                        <label class="form-check-label" for="vitaminA2">Dose 1</label>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <div class="form-check">
                        <input ng-model="$ctrl.entry.vitaminA3" class="form-check-input" type="checkbox" value="" id="vitaminA3">
                        <label class="form-check-label" for="vitaminA3">Dose 2</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-2">
        <div class="card-body p-2">
            <h5 class="card-text">IRON</h5>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <div class="form-check">
                        <input ng-model="$ctrl.entry.ironA1" class="form-check-input" type="checkbox" value="" id="ironA1">
                        <label class="form-check-label" for="ironA1">6-11 mos</label>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <div class="form-check">
                        <input ng-model="$ctrl.entry.ironA2" class="form-check-input" type="checkbox" value="" id="ironA2">
                        <label class="form-check-label" for="ironA2">12-59 mos</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-2">
        <div class="card-body p-2">
            <h5 class="card-text">MNP</h5>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <div class="form-check">
                        <input ng-model="$ctrl.entry.mnP1" class="form-check-input" type="checkbox" value="" id="mnP1">
                        <label class="form-check-label" for="mnP1">6-11 mos</label>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <div class="form-check">
                        <input ng-model="$ctrl.entry.mnP2" class="form-check-input" type="checkbox" value="" id="mnP2">
                        <label class="form-check-label" for="mnP2">12-23 mos</label>
                    </div>
                </div>
                <div class="form-group col-md-6">

                    <label class="form-check-label" for="deworming">12-59 mos</label>
                    <input ng-model="$ctrl.entry.deworming" class="form-control" type="date" value="" id="deworming">

                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <b class="form-check-label" for="remarks">REMARKS</b>
        <textarea ng-model="$ctrl.entry.remarks" class="form-control" rows="4" value="" id="remarks"></textarea>
    </div>





</div>