@page
@model hsforms.web.Pages.Account.AccessDeniedModel
@{

    Layout = "_LayoutAccount";
}

<div class="card bg-warning">
    <div class="card-body">
        You have no permission to view this page.        
        Click <a href="~/account/login">here</a> to login.
    </div>
</div>
